.beige-btn {
  text-decoration: none;
  background-color: rgb(229, 196, 156);
  font-weight: bold;
  font-family: "Lato";
  font-size: 14px;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-top: 50px;
  display: inline-block;
}

.beige-btn:hover {
  background-color: bisque;
}
.read-more {
  text-decoration: none;
  font-size: 10px;
  font-family: Lato;
  color: #c0bebe;
  border: 1px solid #c0bebe;
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  display: inline-block;
}

.read-more:hover {
  color: white;
  background-color: #c0bebe;
}

.fa-brands {
  color: bisque;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.fa-brands:hover {
  color: beige;
}
